.terminal-text-wrapper {
  text-align: center;
  margin-top: 50px;
}

.terminal-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 48px;
  color: #00ff00;
  background-color: #000;
  padding: 20px;
  animation: typing-animation 4s steps(40) 1s infinite normal both,
    blink-animation 0.75s step-end infinite;
}

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-animation {
  50% {
    border-right: 2px solid #00ff00;
  }
}
